LOCALSTACK_AUTH_TOKEN=<your_token_here>
CONFIG_PATH=config.yaml
AWS_BASE_ENDPOINT=http://localhost:4566
AWS_REGION=eu-north-1
DYNAMO_SAGE_DB=data/audit.db
DYNAMO_SAGE_ADDR=:8080
AWS_ACCESS_KEY_ID=<your_access_key>
AWS_SECRET_ACCESS_KEY=<your_secret_key>
MCP_TRANSPORT_MODE=sse
